{% extends 'base.html.twig' %}

{% block body %}

    <div class="md-responsive-image" style="background-image: url('{{ asset('assets/images/dressmaker.jpg') }}')">

        <div class="md-image-darker" style="opacity: 0.4"></div>

        <div class="md-text">
            <h1>Service de couturier à Nice</h1>
            <div class="md-lined-title md-homme-femme">
                <h6>homme <span class="to-hide">- </span>femme</h6>
            </div>
        </div>

    </div>

    <div class="container md-container">

        <div class="md-text-block">

            <h1>À propos</h1>

            <div class="md-lined-title">
                <h6>2020</h6>
            </div>

            <p>
                L'atelier «Retouches chez Malika» a été créée en 2020 à Nice. Notre atelier se situe à 500m de la promenade. Vous serez accueilli dans une ambiance familiale et chaleureuse par des professionnels qui ont entre 10 et 30 ans d'expérience.
                <br><br>
                Le travail de retouche est très enrichissant. Il est artistique, demande beaucoup de patience, de la délicatesse et des idées. Nous apportons une grande importance à la satisfaction et à la fidélisation de nos clients.
                <br><br>
                Nous sommes à votre écoute et vous conseillerons volontiers sur vos envies de retouches. En aucun cas nous exécuterons un travail si le résultat final risque de ne pas vous donner entière satisfaction. Vous pouvez nous apporter vos retouches déjà épinglées mais nous pouvons également prendre les mesures sur place, dans notre cabine. Nous effectuons les retouches pour dames et messieurs.
                <br><br>
                Nos prix défient toute concurrence. Dès 3 articles, nous pouvons vous faire un rabais. Le délai est environ de 3 à 5 jours ouvrables. Sur demande nous pouvons travailler en urgence.
            </p>

        </div>

    </div>

    <div class="md-responsive-image" style="background-image: url('{{ asset('assets/images/measuring.jpg') }}')">

        <div class="md-image-darker"></div>

        <div class="md-text">
            <h1>Simplifiez-vous l'habit</h1>
{#            <p style="color: #be9667">— Chez Malika</p>#}
        </div>

    </div>

    <div class="container md-container">

        <div class="md-text-block">

            <h1>Nos services</h1>

            <div class="md-lined-title md-rcr">
                <h6>Retouches <span class="to-hide">- </span>Couture <span class="to-hide">- </span>Repassage</h6>
            </div>

            <p>
                Nous réalisons principalement les prestations suivantes.
                <ul>
                    <li class="bodytext">Retouches &amp; Express retouches tissus et certains cuirs pour&nbsp;dames et messieurs.</li>
                    <li class="bodytext"><span></span>Transformations et adaptations de vos habits à votre silhouette: rétrécir, élargir, raccourcir, rallonger</li>
                    <li class="bodytext">Réalisations d'ourlets (pantalons, jupes, robes) à la main, sauf les jeans et certaines matières</li>
                    <li class="bodytext">Ajouts de pressions</li>
                    <li class="bodytext">Confections et&nbsp;transformations de rideaux et linges&nbsp;de maison</li>
                    <li class="bodytext">Réparations /&nbsp;stoppages</li>
                    <li class="bodytext">Changements de&nbsp;doublure&nbsp;pour:&nbsp;jupe, pantalon, veste, manteau</li>
                    <li class="bodytext">Changements de fermeture éclair sur tous les vêtements et possibilité de changer que le curseur sur les vestes et manteaux</li>
                    <li class="bodytext">Fermetures invisibles pour les robes, les jupes et les pantalons pour dames</li>
                    <li class="bodytext">Customisations simple&nbsp;de vêtements</li>
                </ul>
                N'hésitez pas à nous contacter pour une demande précise !
                En plus d'exécuter les retouches pour particuliers, nous travaillons également pour des boutiques ainsi que des entreprises privées. Dans ces cas, nous pouvons nous déplacer sur place.
            </p>

        </div>

    </div>

    <div class="md-gray-bg">

        <div class="container md-container">

            <div class="md-text-block">

                <h1>Horaires d'ouverture</h1>

                <div class="md-lined-title">
                    <h6>Nice</h6>
                </div>

                <table class="table table-hover">

                    <tr>
                        <td>Lundi</td>
                        <td>10:00 - 20:00</td>
                    </tr>

                    <tr>
                        <td>Mardi</td>
                        <td>10:00 - 20:00</td>
                    </tr>

                    <tr>
                        <td>Mercredi</td>
                        <td>10:00 - 20:00</td>
                    </tr>

                    <tr>
                        <td>Jeudi</td>
                        <td>10:00 - 20:00</td>
                    </tr>

                    <tr>
                        <td>Vendredi</td>
                        <td>10:00 - 20:00</td>
                    </tr>

                    <tr>
                        <td>Samedi</td>
                        <td>10:00 - 20:00</td>
                    </tr>

                    <tr>
                        <td>Dimanche</td>
                        <td>Fermé</td>
                    </tr>

                </table>

            </div>

        </div>

    </div>

    <a href="https://goo.gl/maps/P6ddjBBt3d14EGhP6" target="_blank">
        <div class="md-responsive-image md-map-image" style="background-image: url('{{ asset('assets/images/map.jpg') }}')">

            <div class="md-image-darker"></div>

            <div class="md-text">
                <h1><i class="fas fa-map-marker-alt"></i></h1>
                <p>Retouches chez Malika</p>
            </div>

        </div>
    </a>

{% endblock %}
