{% extends 'dashboard/base.html.twig' %}

{% block title %}Ajout d'une commande{% endblock %}

{% block body %}

    <h1>Ajout d'une commande</h1>

    {{ include('dashboard/order/_form.html.twig') }}

{% endblock %}
