{% extends 'dashboard/base.html.twig' %}

{% block title %}Ajout d'un type de réparation{% endblock %}

{% block body %}

    <h1>Ajout d'un type de réparation</h1>

    {{ include('dashboard/repair/_form.html.twig') }}

{% endblock %}
